<h1>About Me</h1>
<div class="main">
    <div class="intro">
        <h3>Hi there, I’m Shaik Hasan Ahammad!</h3>
        <p>
            With a passion for technology and a penchant for problem-solving, I've spent the past 3 years honing my skills as a full-stack developer at XYZ Company in Hyderabad. 
            From crafting elegant front-end experiences to architecting robust back-end solutions, I thrive on the dynamic challenges of software development.
        </p>
    </div>
    
    <div class="emp">
        <h3>Empowering Businesses Through Technology:</h3>
    <p>
    At XYZ Company, I've been fortunate to collaborate with talented teams and visionary clients, leveraging technology to drive innovation and achieve business objectives. From startups to established enterprises, 
    I've witnessed firsthand the transformative power of software solutions in unlocking new opportunities and driving growth.</p>
    </div>
    
    <div class="lrn">
        <h3>Continual Growth and Learning:</h3>
        <p>In this fast-paced industry, I recognize the importance of continual learning and adaptation.
             Whether it's staying abreast of the latest frameworks and technologies or refining my problem-solving skills through hands-on experience,
             I'm committed to personal and professional growth at every turn.</p>
    </div>
</div>