img{
    width: 70px;
    height: 70px;
    margin: 15px;
    border-radius: 50%;
    box-shadow: 0 0 20px yellow;
}
ul{
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    margin-right: 10px;
   
}
a{
    color: bisque;
    text-decoration: none;
}
div{
    height: 100px;
    background: linear-gradient(to right,rgb(255, 232, 204),rgb(138, 138, 23));
    display: flex;
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;
}
a:hover{
    transition: all 1s ease-in-out;
    text-decoration: underline;
    transform: scaleX(5deg);
    color: aqua;

}