
<header>
    <div>
        <img src="https://img.freepik.com/free-vector/bird-colorful-logo-gradient-vector_343694-1365.jpg?t=st=1708928933~exp=1708932533~hmac=5eef2bf784de16fb3d580a47be3d68d9f158d8a1b001932b2ffdf0b488a588e5&w=740" alt="log">
        <ul>
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/project">Project</a></li>
            <li><a routerLink="/contact">contact</a></li>
        </ul>
    </div>
</header>
