<h1 style="text-align: center;">Click on Food Item To order</h1>
<div class="main" id="dv1">
  <h2>Biryanies</h2>
<div class="birayanies">
  <app-food [img]=img1 title="Chicken Dum Brayani" class="item"></app-food>
  <app-food [img]=img2 title="Chciken Fry Brayani"></app-food>
  <app-food [img]=img3 title="Mutton Dum Brayani"></app-food>
  <app-food [img]=img4 title="Prawans Brayani"></app-food>
  <app-food [img]=img5 title="Vegitable Brayani"></app-food>
  <app-food [img]=img6 title="Veg Meals"></app-food>
</div>
</div>

<div class="main" id="dv2">
  <h2>Curries</h2>
<div class="curries">

  <app-food [img]=img7 title="Panner curry" class="item"></app-food>
  <app-food [img]=img8 title="Chciken curry"></app-food>
  <app-food [img]=img9 title="Mutton curry"></app-food>
  <app-food [img]=img10 title="Prawans curry"></app-food>
  <app-food [img]=img11 title="Fish Curry"></app-food>
  <app-food [img]=img12 title="Potato curry"></app-food>
</div>
</div>

<div class="main" id="dv3">
  <h2>Ice - Creams</h2>
<div class="Ice-creams">

  <app-food [img]=img13 title="Strawberry" class="item"></app-food>
  <app-food [img]=img14 title="Muskmelon"></app-food>
  <app-food [img]=img15 title="Milk Mango"></app-food>
  <app-food [img]=img16 title="Blackcurrant"></app-food>
  <app-food [img]=img17 title="Vanilla Caramel Browine"></app-food>
  <app-food [img]=img18 title="Butterscotch"></app-food>
</div>
</div>
